body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://ih1.redbubble.net/image.5171465363.0246/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u2.jpg");
    background-size: cover;
    color: #333;
}

header, nav, .container, .cat, footer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    padding: 50px 20px;
    text-align: center;
    color: #fff;
}

h1 {
    margin: 0;
    color: black;
}

h2{
    text-align: center;
}
nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcccc;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.cat {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.cat:hover {
    transform: scale(1.05);
}

.cat img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
